.NavBar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0a2240;
    // background: linear-gradient(360deg, rgb(253, 240, 233) 2.2%, rgb(245 65 92) 96.2%);
    background-color: #ff477e;
    padding: 1rem;
    z-index: 3;

    ul {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;

    }

    li {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 800;
        text-transform: uppercase;
    }

    li:lang(ar) {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 800;
        text-transform: uppercase;
    }


    .navBarLogo {
        height: 5rem;
        filter: contrast(0%) brightness(2);
    }
}

// .Linko {
//     display: flex;
//     align-content: center;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     margin-left: 1rem;
//     font-size: 1.2rem;
//     text-decoration: none;
//     font-weight: 800;
//     cursor: pointer;

//     transition: 0.5s;
//     /* Background Gradient for Text */
//     background: linear-gradient(to bottom, #FFEEB5, #AE8913);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     /* Optional Text Shadow for Depth */
//     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

// }


// .Linko:hover {
//     color: #fff;
//     text-shadow: 0 0 5px #03e9f4,
//         0 0 25px #03e9f4,
//         0 0 50px #03e9f4,
//         0 0 100px #03e9f4;
// }

.NavBar .navBarLogo {
    height: 6rem;
    width: 12rem;
}

.hover-1 {
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    font-weight: 800;
    font-family: "Reddit Sans", sans-serif;
    background-image: linear-gradient(to right,
            #ebfbff,
            #ebfbff 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

.hover-1,
a:lang(ar) {
    font-family: "Lalezar", system-ui;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    margin-right: 0;

    font-weight: 700;
    background-image: linear-gradient(to right,
            #ebfbff,
            #ebfbff 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
    margin-left: 1.5rem;

 
}


.hover-1:before {
    content: '';
    background: #ebfbff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.hover-1:hover {
    background-position: 0;
}

.hover-1:hover::before {
    width: 100%;
}