/* SCSS for the testimonial section */
#fws_66aaf48d6affe {
  .wpb_row {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;

    .row-bg-wrap {
      .inner-wrap {
        .row-bg {
          background-position: center center;
          background-repeat: no-repeat;
          background-color: rgb(10, 34, 64);
          height: 850.875px;
          transform: translate3d(0px, 61.175px, 0px) scale(1.005);
        }
      }
    }

    .row_col_wrap_12 {
      opacity: 1;



      .vc_column_container {
        padding: 4%;
        background-color: #0a2240;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #00718b;
        }

        .vc_column-inner {
          .column-image-bg-wrap {
            .inner-wrap {
              .column-image-bg {
                background-size: cover;
                background-position: center center;
              }
            }
          }

          .column-bg-overlay-wrap {
            .column-bg-overlay {
              background-color: #0a2240;
              opacity: 0.9;
            }
          }

          .wpb_wrapper {
            .divider-wrap {
              .divider {
                height: 75px;
              }
            }

            blockquote.nectar_single_testimonial {
              color: #fff;
              font-size: 16px;
              font-style: italic;

              .inner {
                .flex {
                  .open-quote {
                    font-size: 50px;
                  }
                }


                p {
                  margin-bottom: 20px;
                }

                .wrap {
                  display: block;

                  span {
                    display: block;
                  }

                  .title {
                    font-weight: bold;
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }

        &:nth-of-type(1) .vc_column-inner .column-bg-overlay {
          opacity: 0.9;
        }

        &:nth-of-type(2) .vc_column-inner .column-bg-overlay {
          opacity: 0.8;
        }

        &:nth-of-type(3) .vc_column-inner .column-bg-overlay {
          opacity: 0.7;
        }

        &:nth-of-type(4) .vc_column-inner .column-bg-overlay {
          opacity: 0.6;
        }
      }
    }
  }
}

.wpb_row .ColCard,
.ll .wpb_row .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 0px 4%; */
  padding: 0;
  margin: 0;
  display: flex;

  .Filter {
    border-radius: 0;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fb6793cc, #ff437ccc, #e91e62d9);
  }

  .Filter:hover {
    background: linear-gradient(to right, #ffffff00, #ff437b00, #e91e6200);
  }

  .PAR {
    z-index: 1000;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100%;
  }
}

.column,
.ll .wpb_row .container .COL {
  flex: 1 1 calc(25% - 16px);
  /* margin: 8px; */
  color: rgb(255, 255, 255);
  position: relative;
  padding: 4%;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s;
  overflow: hidden;
  /* border-radius: 8px; */
  cursor: pointer;
  filter: grayscale(0%);
  height: 750px;
  width: 25%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0;
  margin: 1rem 0;
}

.column:nth-child(1) {

  color: #fff;
  position: relative;
  padding: 4%;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(0%);
  background-color: #fb6f92;

  &:hover {
    transform: scale(1.05);
    filter: grayscale(20%);
  }

}

.column:nth-child(2) {

  background-color: #ff8fab;
  color: #fff;
  position: relative;
  padding: 4%;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(0%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(20%);
  }

}

.column:nth-child(3) {

  background-color: #ffb3c6;
  color: #fff;
  position: relative;
  padding: 4%;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(0%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(20%);
  }

}

.column:nth-child(4) {

  background-color: #ffc2d1;
  color: #fff;
  position: relative;
  padding: 4%;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(0%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(20%);
  }

}

.column-overlay {

  opacity: 1.3;
}

.column-image-bg {
  background-size: cover;
  background-position: center center;
  height: 200px;
  background-image: url("../../assets//1-removebg-preview\ \(1\).png");
}

.testimonial {
  font-size: 16px;
  font-style: italic;
  color: #fff;
}

.quote {
  font-size: 30px;
}

.wrap {
  display: block;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

.divider {
  height: 75px;
}

.open-quote {
  font-size: 50px;
}

.PAR:lang(ar) {
  font-size: 20px;
  font-weight: 500;
}

.COL1 {
  background-image: url('https://images.pexels.com/photos/1203549/pexels-photo-1203549.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-size: cover;



}

.COL2 {
  background-image: url('https://images.pexels.com/photos/7585317/pexels-photo-7585317.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-size: cover;
}

.COL3 {
  background-image: url('https://images.pexels.com/photos/26600742/pexels-photo-26600742/free-photo-of-a-woman-wearing-a-headscarf.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-size: cover;
}

.COL4 {
  background-image: url('https://images.pexels.com/photos/11816688/pexels-photo-11816688.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-size: cover;
}





@media (max-width: 768px) {

  .wpb_row .ColCard,
  .ll .wpb_row .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0px 4%; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .column,
  .ll .wpb_row .container .COL {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(25% - 16px);
    /* margin: 8px; */
    color: rgb(255, 255, 255);
    position: relative;
    padding: 4%;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
    overflow: hidden;
    /* border-radius: 8px; */
    cursor: pointer;
    filter: grayscale(0%);
    height: auto;
    width: 100%;
  }
}