.bg {
  background-color: #f2f2f2;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.about-dr-william {

  .S2Title {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(68, 68, 68);
    font-size: 18px;
    height: 24px;
    text-transform: uppercase;
  }

  .S2Title:lang(ar) {
    text-align: right;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #de647a;
  }

  .S2Thin {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(103, 103, 103);
    font-size: 16px;
    line-height: 24px;
  }

  .S2Thin:lang(ar) {
    text-align: right;

  }

  .animated {
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &.fade-in {
      opacity: 1;
      transform: none;
    }

    &.slideInLeft {
      animation: slideInLeft 0.5s forwards;
    }

    &.slideInUp {
      animation: slideInUp 0.5s forwards;
    }
  }

  .divider {
    height: 50px;
  }

  .about-description {
    color: rgb(103, 103, 103);
    font-family: "futura";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    font-stretch: 100%;
    padding-right: 3rem;
  }

  .about-description:lang(ar) {
    text-align: right;
    padding-left: 3rem;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    padding-right: 0;
    font-size: 15px;
  }

  .btn-accent-color {
    visibility: visible;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    &:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
  }

  .video-section {
    color: rgb(205, 244, 244);

    .nectar-video-box {
      position: relative;
      overflow: hidden;

      img {
        transition: transform .25s, visibility .25s ease-in;
        border-radius: 1rem;
      }

      &:hover img {
        transform: scale(1.25);
        border-radius: 1rem;

      }

      .inner-wrap {
        position: relative;

        .play_button_2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;

          .play {
            width: 60px;
            height: 60px;
            background-color: #ff477e;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              fill: #fff;
            }

          }
        }
      }
    }
  }

  .playIcon {
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    display: flex;

  }

  .btn1 {
    background-color: #ff477e;
    color: #f2f2f2;
    transition-duration: .3s;
  }

  .btn1:hover {
    transform: scale(1.1);
    background-color: white;
    color: #ff477e;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Filter2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff477e3d;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.btn-link {
  color: rgb(68, 68, 68);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.btn-link:hover {
  text-decoration: underline;
}