.full-width-section {
    width: 103%;
    position: relative;
    padding-top: calc(100vw * 0.05);
    padding-bottom: calc(100vw * 0.05);
    background:linear-gradient(179.4deg, rgb(252, 121, 138) 2.2%, rgb(255 71 126) 96.2%);
    .highlight {
        color: #7fcacd;
    }

    .content-wrapper {
        h2 {
            color: #ffffff;
            text-align: center;

            .highlight {
                color: #7fcacd;
            }
        }
    }
}

@keyframes fadeInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated {
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &.fade-in-from-bottom {
        animation: fadeInFromBottom 0.5s forwards;
    }
}

.top-margin-30px {
    margin-top: 30px;
}