.section3 {
    .row {
      display: flex;
      justify-content: space-between;
  
      .col {
        flex: 1;
        padding: 7%;
        position: relative;
  
        &.half {
          width: 50%;
        }
  
        &.white-background {
          background-color: #ffffff;

          background-color: #f2f2f2;
          background-color: #fafafa;

               transition:.5s ;
          &:hover {
       
            background: linear-gradient(179.4deg, rgb(253 240 233 / 46%) 2.2%, rgb(255 194 203 / 38%) 66.2%);

          }
        }
  
        &.blue-background {
          background-color: #0a2240;
          background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
          color: #f2f2f2;
          transition: .7s;
          color: #de647a;
       
          &:hover {

    
          }
        }
  
        .image-wrapper {
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
  
          .color-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.4s ease-in-out;
            
          }
  
          &:hover {
            img {
              transform: scale(1.1);
              
            }
            .color-overlay {
              opacity: 0.7;
     
            }
          }
        }
  
        .text-content {
          h3 {
            font-family: 'futura', sans-serif;
            margin-top: 0;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1.75rem;
          }
  

            p {
                font-family: 'Futura Std', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #290022;
                color: #212529;
              }
          
        }
      }
    }
  }
  