.slideSize{
    min-height: 64vh !important;
}
.layer{
    opacity: 0;
    background-color: #F4F4F4;
    transition: 0.25s;
}
.border{
    border: 12px solid #00718B ;
    height: 200px;
    width: 300px;
    transition: 0.25s;
}
.hoverRec:hover .layer{
    opacity: 0.4;
}
.hoverRec:hover .border{
    height: 300px;
    border-radius: 50%;
}
@media all and (max-width:1450px){
    .slideSize{
        min-height: 55vh !important;
    }
}
@media all and (max-width:1300px){
    .slideSize{
        min-height: 48vh !important;
    }
}
@media all and (max-width:1100px){
    .slideSize{
        min-height: 40vh !important;
    }
}
@media all and (max-width:991px){
    .slideSize{
        min-height: 47vh !important;
    }
}
