@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
// Add this in your main SCSS file
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.cdnfonts.com/css/roslindale');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');
///////////////////ARABIC////////
/// /* Import your fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* Arabic font */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Mada:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Archivo", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
span,
ul {
  margin: 0;


}

.m-3 {
  text-decoration: none;
  color: white;

}

body,
.App {

  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flexR {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.radius {
  border-radius: 1rem;
}

.gold-text {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #d4af37;
  /* Base gold color */
  text-shadow:
    1px 1px 0px #e7c506,
    /* Shadow 1 */
    2px 2px 0px #d4af37,
    /* Shadow 2 */
    3px 3px 0px #b0893c,
    /* Shadow 3 */
    4px 4px 0px #d4af37,
    /* Shadow 4 */
    5px 5px 0px #b0893c,
    /* Shadow 5 */
    6px 6px 0px #d4af37,
    /* Shadow 6 */
    7px 7px 5px rgba(0, 0, 0, 0.5);
  /* Final shadow for depth */

  background: linear-gradient(to right, #f2c14e, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: perspective(500px) rotateX(0) rotateY(0);
}

.bright-gold-text {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ffd700;
  /* Bright gold color */
  text-shadow:
    1px 1px 2px #b8860b,
    /* Darker shadow */
    2px 2px 4px #daa520,
    /* Shadow 2 */
    3px 3px 6px #ffd700,
    /* Shadow 3 */
    4px 4px 8px #ffec8b,
    /* Light shadow */
    5px 5px 10px #b8860b,
    /* Shadow 4 */
    6px 6px 12px rgba(0, 0, 0, 0.3);
  /* Final shadow for depth */

  background: linear-gradient(45deg, #ffec8b, #ffd700, #ffdd44, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: perspective(500px) rotateX(0) rotateY(0);
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


/* Apply Arabic font style */
span:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

/* Apply Arabic font style */
p:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

/* Apply Arabic font style */
h1,
h2,
h3,
h4,
h5,
h6:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

h3:lang(ar) {
  font-family: 'Futura', sans-serif;
  font-size: 30px;
  color: #290022;
  color: #de647a;
  font-weight: 600;
  text-align: center;
}