@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
// Add this in your main SCSS file
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.cdnfonts.com/css/roslindale');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');
///////////////////ARABIC////////
/// /* Import your fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* Arabic font */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Mada:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Archivo", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
span,
ul {
  margin: 0;


}

.m-3 {
  text-decoration: none;
  color: white;

}

body,
.App {

  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flexR {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.radius {
  border-radius: 1rem;
}

.gold-text {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #d4af37;
  /* Base gold color */
  text-shadow:
    1px 1px 0px #e7c506,
    /* Shadow 1 */
    2px 2px 0px #d4af37,
    /* Shadow 2 */
    3px 3px 0px #b0893c,
    /* Shadow 3 */
    4px 4px 0px #d4af37,
    /* Shadow 4 */
    5px 5px 0px #b0893c,
    /* Shadow 5 */
    6px 6px 0px #d4af37,
    /* Shadow 6 */
    7px 7px 5px rgba(0, 0, 0, 0.5);
  /* Final shadow for depth */

  background: linear-gradient(to right, #f2c14e, #d4af37);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: perspective(500px) rotateX(0) rotateY(0);
}

.bright-gold-text {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ffd700;
  /* Bright gold color */
  text-shadow:
    1px 1px 2px #b8860b,
    /* Darker shadow */
    2px 2px 4px #daa520,
    /* Shadow 2 */
    3px 3px 6px #ffd700,
    /* Shadow 3 */
    4px 4px 8px #ffec8b,
    /* Light shadow */
    5px 5px 10px #b8860b,
    /* Shadow 4 */
    6px 6px 12px rgba(0, 0, 0, 0.3);
  /* Final shadow for depth */

  background: linear-gradient(45deg, #ffec8b, #ffd700, #ffdd44, #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: perspective(500px) rotateX(0) rotateY(0);
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


/* Apply Arabic font style */
span:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

/* Apply Arabic font style */
p:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

/* Apply Arabic font style */
h1,
h2,
h3,
h4,
h5,
h6:lang(ar) {
  font-family: 'Amiri', serif;
  /* Arabic font */
  font-family: 'Amiri', serif;
  /* Arabic font */
}

h3:lang(ar) {
  font-family: 'Futura', sans-serif;
  font-size: 30px;
  color: #290022;
  color: #de647a;
  font-weight: 600;
  text-align: center;
}
//////////////////////////////////
.blueC {
  background-color: #ff477e;
}

.scale{
  transition: 0.3s;
}

.name:hover .scale ,.video:hover .scale{
  transform: scale(1.1);
}
.linePosition{
  width: 30px;
  border-top: 2px solid white;
  right: 10%;
  bottom: 14.9px;
  transition: 0.3s;
  opacity: 0;
}
.name:hover .linePosition{
  right: 8%;
  opacity: 1;
}
.anglePosition{
  right: 4%;
  bottom: 23px;
  transition: 0.5s;
  opacity: 0;
}
.name:hover .anglePosition{
  right: 7%;
  opacity: 1;
}

                                  /* page2 && testimonials */
ul li{
  list-style: none;
}
.layerC{
  background-color: rgb(9, 34, 64, 0.65);
}
.layer2{
  background-color: rgb(33, 58, 143,1);
  z-index: -20;
}
.nav-link {
  color: #6C7B8D !important;
  position: relative;
}

.nav-link:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 2px;
  background-color: #D9B38C;
  transition: 0.4s;
}

.nav-link:hover:after , .nav-link:focus:after, .nav-link:focus-visible:after, .nav-link.active:after {
  left: 0%;
  right: 0%;
}
.nav-link:focus , .nav-link:focus-visible, .nav-link.active{
  color: #D9B38C !important;
}
.card{
  transition: 0.4s;
}
.card:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

                                            /* overlay */
.overlay{
  background-color: rgba(0, 0, 0, 0.85);
}
.x{
  color: darkgray;
  transform: rotate(0deg);
  transition: 0.3s;
}
.x:hover{
  transform: rotate(90deg);
  color: white;
}

                                        /* carousels */
.carousel-control-prev.prev {
  left: 2px !important;
  top: 7px !important;
  align-items: start !important;
  font-size: 10px;
}
.carousel-control-next.next {
  left: 30px !important;
  top: 7px !important;
  align-items: start !important;
  font-size: 10px;
}
.darkCyan{
  background-color: #00718B !important;
}
.darkCyan-text{
  color: #00718B;
}
.navLink:hover{
  color: #00718B;
}

                                      /* Overlay arrows */
.circleSize{
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  transition: 0.4s;
}
.circleSize:hover{
  border: 2px solid rgba(0, 0, 0, 0);
}
.anglePositionOverlay{
  padding-right: 10px;
  transition: 0.5s;
}
.anglePositionOverlay:after{
  content: '';
  width: 16px;
  border-top: 2px solid white;
  right: 6px;
  left: 11px;
  bottom: 17px;
  transition: 0.3s;
  display: flex;
  position: absolute;
}
.circleSize:hover .anglePositionOverlay{
  padding-right: 20px;
}
.circleSize:hover .anglePositionOverlay:after{
  width: 23px;
  right: 9.5px;
  left: 5px;
}
.rotateArrow{
  transform: rotate(180deg);
}
                                      /* Videos page */
.video i, .video .play{
  height: 40px;
  width: 40px;
  padding: 2.3rem;
  background-color: #00718B;
  transition: 0.3s;
}
.video:hover .play{
  padding: 2.55rem;
}

                                /* Pagination of blog */
.pagination{
  padding: 0.4rem 0.9rem !important;
  color: #676767;
  transition: 0.3s;
}
.pagination:hover{
  color: #00718B;
}

                                /* Pagination dots */
.splide:not(.is-overflow) .splide__pagination {
  display: flex !important;
}
.splide {
  position: unset !important;
}
.splide__pagination__page {
  background: #A6A6A6 !important;
  border: 1px solid #A6A6A6 !important;
  opacity: 1 !important;
  height: 6px !important;
  margin: 10px !important;
  width: 6px !important;
}
.splide__pagination__page.is-active {
  background: #fff !important;
  transform: scale(2) !important;
  border: 1px solid black !important;
}