.faqShadow{
    box-shadow: rgba(0, 0, 0, 0.2) 3px 50px 70px;
}
.faqVideoSize{
    height: 35rem !important;
}
.faqCollapse{
    font-size: 13px;
}
.faqCollapse{
    background-color: rgba(0,0,0,0.1) !important;
}
.faqCollapse[aria-expanded="true"]{
    background-color: #ff477e !important;
    color: white !important;
}
.text-gray{
    color: gray;
}
.faqCollapse[aria-expanded="true"] .text-gray{
    color: white !important;
}
.faqIcon{
    font-family: 'FontAwesome';
    color: darkgray;
    font-size: 18px;
}
.faqCollapse[aria-expanded="false"] .faqIconAbout{
    color: white ;
}
.faqCollapse[aria-expanded="false"] .faqIcon::before{
    content: '\f055';
    color: darkgray;
}
.faqCollapse[aria-expanded="true"] .faqIcon::before{
    content: '\f056';
    color: white;
}
/* AddFaq */
.iconAddFaq{
    transform: scale(1);
    transition: 0.3s;
    color:darkgray;
}
.faqCollapse:hover .iconAddFaq{
    transform: scale(1.2);
    color:white !important;
}